<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd   
    http://www.springframework.org/schema/context   
    http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    
    <!-- 引入wechat属性文件 -->
    <context:property-placeholder location="classpath:wechat/wechat.properties" ignore-unresolvable="true"/>
    
    <!-- 微信公众号配置 -->
    <bean id="grasswortConfigStorage" class="me.chanjar.weixin.mp.api.WxMpInMemoryConfigStorage">
    	<property name="appId" value="${grasswort.appId}"></property>
        <property name="secret" value="${grasswort.secret}"></property>
        <property name="aesKey" value="${grasswort.aesKey}"></property>
        <property name="token" value="${grasswort.token}"></property>
    </bean>
    <bean id="grasswort" class="me.chanjar.weixin.mp.api.impl.WxMpServiceImpl">
        <property name="wxMpConfigStorage" ref="grasswortConfigStorage"></property>
    </bean>
</beans>