<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bloom.dao.PetalMapper">
  <resultMap id="BaseResultMap" type="com.bloom.dao.po.Petal">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="gardener_id" jdbcType="INTEGER" property="gardenerId" />
    <result column="flower_id" jdbcType="INTEGER" property="flowerId" />
    <result column="petal_variety_id" jdbcType="INTEGER" property="petalVarietyId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="ct" jdbcType="TIMESTAMP" property="ct" />
    <result column="ut" jdbcType="TIMESTAMP" property="ut" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, gardener_id, flower_id, petal_variety_id, name, note, ct, ut
  </sql>
  <select id="selectByExample" parameterType="com.bloom.dao.po.PetalExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from petal
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from petal
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from petal
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bloom.dao.po.Petal">
    insert into petal (id, gardener_id, flower_id, 
      petal_variety_id, name, note, 
      ct, ut)
    values (#{id,jdbcType=INTEGER}, #{gardenerId,jdbcType=INTEGER}, #{flowerId,jdbcType=INTEGER}, 
      #{petalVarietyId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, 
      #{ct,jdbcType=TIMESTAMP}, #{ut,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bloom.dao.po.Petal">
    insert into petal
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gardenerId != null">
        gardener_id,
      </if>
      <if test="flowerId != null">
        flower_id,
      </if>
      <if test="petalVarietyId != null">
        petal_variety_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="ct != null">
        ct,
      </if>
      <if test="ut != null">
        ut,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gardenerId != null">
        #{gardenerId,jdbcType=INTEGER},
      </if>
      <if test="flowerId != null">
        #{flowerId,jdbcType=INTEGER},
      </if>
      <if test="petalVarietyId != null">
        #{petalVarietyId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="ct != null">
        #{ct,jdbcType=TIMESTAMP},
      </if>
      <if test="ut != null">
        #{ut,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bloom.dao.po.Petal">
    update petal
    <set>
      <if test="gardenerId != null">
        gardener_id = #{gardenerId,jdbcType=INTEGER},
      </if>
      <if test="flowerId != null">
        flower_id = #{flowerId,jdbcType=INTEGER},
      </if>
      <if test="petalVarietyId != null">
        petal_variety_id = #{petalVarietyId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="ct != null">
        ct = #{ct,jdbcType=TIMESTAMP},
      </if>
      <if test="ut != null">
        ut = #{ut,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bloom.dao.po.Petal">
    update petal
    set gardener_id = #{gardenerId,jdbcType=INTEGER},
      flower_id = #{flowerId,jdbcType=INTEGER},
      petal_variety_id = #{petalVarietyId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      ct = #{ct,jdbcType=TIMESTAMP},
      ut = #{ut,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>